<div class="widgets-box">
    <div class="sidebar-head bg-2">
        <span>Outils</span>
    </div>
    <div class="sidebar-text">
        <ul class="sidebar-post">
            <li>
                <div class="image-thumb">
                    <a href="{{ path('fragmentation') }}"><img src="/upload/images/vignette/statistique.jpg"></a>
                </div>
                <div class="post-text">
                    <h4><a href="{{ path('fragmentation') }}">Historique de la fragmentation android</a></h4>
                    <div class="post-date">
                        <a href="{{ path('fragmentation') }}">
                            <i class="fa fa-comments-o"></i>
                            <span class="count disqus-comment-count" data-disqus-url="{{ path('fragmentation') }}">0</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>