android-dev.new.tar.gz
access.log
error.log
app/config/parameters.yml
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/htdocs/bundles/
/htdocs/upload
/htdocs/css
/htdocs/js
.idea/
htdocs/assets/fonts/
web/css/
