{% extends 'blog.html.twig' %}

{% block title %}A propos | Android-dev.fr{% endblock %}

{% block description %}A propos android-dev.fr{% endblock %}

{% block urlCanonical %}http://www.android-dev.fr{{ path('apropos') }}{% endblock %}

{% block meta %}
{% endblock %}


{% block body %}

    <div class="articlebox">
        <div class="articlebox-text">
            {{ infosite()['infosite']['aPropos'] | raw  }}
        </div>
    </div>

{% endblock %}

{% block colLeft %}
    {% include 'blog/part/colLeft-home.html.twig' %}

{% endblock %}


{% block colRight %}
    {% include 'blog/part/colRight-home.html.twig' %}

{% endblock %}
