{% extends 'admin/index.html.twig' %}

{% block title %} Création d'un site - Android-dev.fr{% endblock %}

{% block body %}
    <h1>Création d'un site</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_infosite_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
