.homebox {
    margin: 30px 0px;
    background: $white;
    border: 1px solid $gray-light;
}

.homebox-title-div {
    position: relative;
}

.homebox .sidebar-text {
    padding-bottom: 0px;
}

.homebox-lastpost {
    position: relative;
}

.homebox-firstpost {
    border-right: 1px solid $gray-light;
}

.homebox-firstpost-big {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.homebox-firstpost_thumbnail {
    overflow: hidden;
    position: relative;
    background: $white;
}

.homebox_content_meta {
    margin: 18px 0 0;
}

.homebox_featured_content p {
    margin: 10px 0 30px;
    color: $gray-dark;
    font-family: $font-family-1;
    font-size: 13px;
    line-height: 18px;
}

.homebox_featured_content h4 {
    margin: 8px 0;
    font-size: 20px;
    line-height: 26px;
}

.homebox-listpost-cat::after {
    content: "";
    font-family: "FontAwesome";
    font-size: 3px;
    margin-left: 7px;
    font-size: 4px;
    font-style: normal;
    color: #dadada;
}

.homebox-date, .homebox-comment, .homebox-listpost-cat  {
    color: $gray;
    font-size: 11px;
    font-style: italic;
    margin-right: 7px;
    display: inline-block;
}

.homebox-comment::before {
    content: "";
    font-family: "FontAwesome";
    font-size: 3px;
    margin-right: 7px;
    font-size: 4px;
    font-style: normal;
    color: $gray-light;
}

.homebox-comment .count {
    font-weight: bold;
}

.homebox_category_name {
    transition: color 0.3s ease-in-out;
    color: #c9a96e;
}

.homebox_read_more {
    color: #363636;
    display: inline-block;
    font-family: Playfair Display;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    padding: 0 0 4px;
    position: relative;
}

.homebox_read_more::after {
    background: #c2c2c2;
    content: "";
    width: 22px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.homebox .social-icons {
    float: right;
    font-size: 12px;
}

.homebox-listpost {
    list-style: none;
    margin: 0;
    padding: 0;
}

.homebox-listpost li:first-child {
    padding-top: 0;
}

.homebox-listpost li:last-child {
    border: 0;
}

.homebox-listpost li {
    border-bottom: 1px dotted #e0e0e0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.homebox-listpost-img {
    max-height: 80px;
}

.homebox-thumbnail {
    max-width: 120px;
    float: left;
    margin-right: 15px;
}

.homebox-post-title {
    line-height: 22px;
    margin-bottom: 5px;
    margin-top: 4px;
    font-size: 16px;
}

.blog-bottom {
    border-top: 1px solid #f1f0f0;
    padding: 0 25px;
    position: relative;
}

.more-links{
	padding:0 10px;
	line-height:52px;
	border-bottom:1px solid #4f4f4f;
	color:#fe4444;
	display:inline-block;
}

.more-links:hover {
    color: #333;
    border-bottom: 1px solid #4f4f4f;
}